%div{:id => "#{dom_id recipe}"}
  %p.my-5
    %strong.block.font-medium.mb-1 Name:
    = recipe.name
  %p.my-5
    %strong.block.font-medium.mb-1 Description:
    = recipe.description
  - if action_name != "show"
    = link_to "Show this recipe", recipe, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to "Edit this recipe", edit_recipe_path(recipe), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
    %hr.mt-6/
