
<div class=" flex flex-row gap-4 items-center">

<h1 class="text-3xl font-bold	mb-4"><%= @recipe.title %></h1>
<div class=" flex flex-row  items-center">
 <%= link_to t("back_to_recipes").capitalize, recipes_path,  class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>

<%= link_to  t("edit_recipe").capitalize, edit_recipe_path(@recipe) ,class:"focus:outline-none text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900"%> 
<%= button_to t("destroy_recipe").capitalize, @recipe, method: :delete, class: "focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"%>
</div>
</div>


<h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Ingredients</h2>
<ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
     <li class="pb-3 sm:pb-4 pt-1">
        <div class="flex items-center space-x-4 rtl:space-x-reverse">
         <div class="flex-1 min-w-0">
            <p class="text-md font-medium text-gray-900 truncate dark:text-white">
               <%= recipe_ingredient.ingredient.name %>
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
               <%= recipe_ingredient.description %>
            </p>
         </div>
         <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <%= recipe_ingredient.amount %>
         </div>
      </div>
    </li>
  <% end %>
</ul>

