<!DOCTYPE html>
<html>
  <head>
    <title>Pantry2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-800 dark:border-gray-700 dark:text-white">
  <nav class="bg-white dark:bg-gray-900 w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href=" <%= "/?locale=#{I18n.locale}" %>" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="https://images.vexels.com/media/users/3/151734/isolated/preview/17b852b82437cb56436bbc354c43ecec-frying-pan-icon.png?w=345&fmt=webp" class="h-12" alt="Flowbite Logo">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">One Pot Recipe</span>
  </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <div data-controller="langage">
        <a data-action="click->langage#switch" >­ЪЄФ­ЪЄи</a>
        <a  data-action="click->langage#switch">­ЪЈ┤заЂДзаЂбзаЂЦзаЂ«заЂДзаЂ┐</a>
        </div>      
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <%= link_to t("recipes").capitalize ,  "/recipes?locale=#{I18n.locale}"  ,class:"block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" %>
      </li>
      <li>
        <%= link_to t("ingredients").capitalize , "/ingredients?locale=#{I18n.locale}",class:"block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" %>
      </li>
    
    </ul>
  </div>
  </div>
</nav>
    <main class="max-w-screen-xl container mx-auto mt-8 p-4">
      <%= yield %>
    </main>
  </body>
</html>
